.container {
    width: auto;
    height: auto;
    margin: 10px;
    margin-left: 60px;
    margin-right: 60px;
    border: solid 2px;
}

.quick-flex {
    display: flex;
    justify-content: space-between;
}

.social,
ul,
li {
    display: flex;
    padding-inline: 20px;
}

.logo {
    padding-top: 15px;
}

.flex-header {
    display: flex;
    justify-content: space-between;
}
.banner{
    
}