.container{
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
    outline: solid 2px red;
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    padding: 10px;
    border: solid 2px black;
    box-sizing: border-box;
}
.logo{
    width: 20%;
    height: 50px;
    color: blue;
    margin-right: 10px;
    text-align: center;
    padding-top: 20px;
    outline: solid 2px red;
}
.list{
    width: 80%;
    height: 50px;
    text-align: center;
    color: blue;
    padding-top: 20px;
    outline: solid 2px red;
}
.banner-text{
    width: 40%;
    height: 200px;
    outline: solid 2px greenyellow;
}
.about-container{
    width: 100%;
    height: 300px;
}
.flex-about-1{
    padding: 20px;
    padding-right: 20px;
    margin-left: 20px;
}
.about-1{
    width: 20%;
    height: 50px;
    outline: solid 2px blue;
}
.flex-about-2{
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    padding-right: 20px;
}
.about-2{
    width: 45%;
    height: 200px;
    outline: solid 2px red;
}